/.project
/.classpath
/.gradle/
doc/
/.settings/
/bin/
/build/
/.idea
/out/
/target/
/logs/
test.txt
isa4J_performance_results.csv
src/test/resources/de/ipk_gatersleben/bit/bi/isa4j/performanceTests/performance_test_results.csv
.DS_Store
.Rhistory
